a.list-group-item(id=messageId)
    div(data-toggle="collapse" data-target="#" + messageId + " .listCollapse")
        div.list-group-item-heading.mouseOver
            span.badge.pull-right=moment(timestamp).format("lll")
            h2.queue=role
        hr
        div.btn-toolbar
            if currentUrl === 'replays'
                button.modifyBtns.btn.btn-sm.btn-primary.retryButton(type="button" messageId=messageId logId=logId correlationId=correlationId index=logIndex destination=destination connector=connector roleMessage=roleMessage role=role version=version)
                    span.glyphicon.glyphicon-repeat
                    |  Retry
                button.modifyBtns.btn.btn-sm.btn-primary.fixButton(type="button" messageId=messageId logId=logId correlationId=correlationId index=logIndex role=role)
                    span.glyphicon.glyphicon-ok
                    |  Fixed
                button.modifyBtns.btn.btn-sm.btn-success.changeStepButton(type="button" messageId=messageId logId=logId correlationId=correlationId index=logIndex)
                    span.glyphicon.glyphicon-step-forward
                    |  Change Step
                button.modifyBtns.btn.btn-sm.btn-success.changeQueueButton(type="button" messageId=messageId logId=logId correlationId=correlationId index=logIndex text=val.text queue=val.queue)
                    span.glyphicon.glyphicon-pencil
                    |  Change Queue
                button.modifyBtns.btn.btn-sm.btn-info(onclick="window.location.href='log?id="+logId+"'" data-toggle="tooltip" title="Opens log in a shareable url")
                    span.glyphicon.glyphicon-link
                    | Share Link
            img.toggle-arrow.pull-right(src='img/toggle_arrow.svg', data-toggle='tooltip', title='Arrow')
    div.collapse.listCollapse
        table.table
            tbody
                tr
                    th Connector
                    td #{connector}
                tr
                    th ID
                    td #{logId}
                tr
                    th DestinationType
                    td #{val["destination-type"] || "queue"}
                tr
                    th DestinationName
                    td #{destination}
                if val["source-description"]
                    tr
                        th SourceDescription
                        td #{val["source-description"]}
                tr
                    th ReplayVersion
                    td #{version || "1"}

        if val.text
            .btn-toolbar
                div.viewInfoBtn.btn.btn-sm.btn-info(data-toggle="collapse" data-target="#" + messageId + " .msgJson") View Json&nbsp;
                    span.glyphicon.glyphicon-chevron-down
            div.collapse.msgJson
                pre
                    code.json=val.text
        if val.errors
            .btn-toolbar
                div.viewInfoBtn.btn.btn-sm.btn-danger(type="button" data-toggle="collapse" data-target="#" + messageId + " .msgError") View Error&nbsp;
                    span.glyphicon.glyphicon-chevron-down
            div.collapse.msgError
                pre
                    code.java=val.errors
    if currentUrl == 'retries'
        h5.queue
            b Retry Count •
            |  #{retryCount} / #{maxRetryCount}
    .errorHoverDisplay
